.options .col-12:hover {
    background-color: rgb(224, 220, 220);
    transition: all 0.4s ease;
}

.slow {
    animation-name: slow;
    animation-duration: 0.9s;
    animation-direction: normal;
    animation-fill-mode: both;
}

@keyframes slow {
    from {
        width: 20px;
        height: 20px;
    }
    60% {
        width: 50%;
    }
    to {
        height: fit-content;
        width: 50%
    }
}